# Correlations

In [5]:
library(tidyverse)
library(tidyr)
library(dplyr)
library(ggplot2)
library(readxl)
library(openxlsx)

-- Attaching core tidyverse packages ---------------------------------------------------------------- tidyverse 2.0.0 --
v dplyr     1.1.2     v readr     2.1.4
v forcats   1.0.0     v stringr   1.5.1
v ggplot2   3.4.2     v tibble    3.2.1
v lubridate 1.9.2     v tidyr     1.3.0
v purrr     1.0.1
-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()
i Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

## importing data

In [7]:
# Read a CSV file into a data frame
df <- read.csv("Data/All_dat_df.csv")

In [8]:
head(df)

  site datetime            year month day hour dayofwk daytype season O3   ...
1 DAV  2024-01-01 00:00:00 2024 1     1   0    Mon     Weekday Winter 57.7 ...
2 DAV  2024-01-01 01:00:00 2024 1     1   1    Mon     Weekday Winter 55.2 ...
3 DAV  2024-01-01 02:00:00 2024 1     1   2    Mon     Weekday Winter 49.9 ...
4 DAV  2024-01-01 03:00:00 2024 1     1   3    Mon     Weekday Winter 52.1 ...
5 DAV  2024-01-01 04:00:00 2024 1     1   4    Mon     Weekday Winter 65.8 ...
6 DAV  2024-01-01 05:00:00 2024 1     1   5    Mon     Weekday Winter 67.1 ...
  NOX TEMP PREC RAD  SO2 PM2.5 EC CPC avg_wind_speed avg_wind_direction
1 1.9 -2.2 0    -0.6 NA  NA    NA NA  1.0980000       36.25794
2 2.1 -2.8 0    -0.7 NA  NA    NA NA  0.9216667       40.71351
3 3.7 -3.3 0    -0.7 NA  NA    NA NA  0.6716667      150.12313
4 4.6 -4.2 0    -1.1 NA  NA    NA NA  0.5250000       40.87731
5 0.7 -5.2 0    -1.3 NA  NA    NA NA  1.4700000      186.90946
6 0.7 -5.6 0    -0.8 NA  NA    NA NA  1.9350000      184.88936